<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ESTILOS_CSS_INDEX.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagenes/icono.png') }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <center>
        <div class="titulo">
            <br>
            <h1>
                <b>Confecciones GADIEL</b> <img src="{{ url_for('static', filename='imagenes/logo.png') }}" class="logo" alt="">
            </h1>
            <br>
        </div>
    </center>
    <nav class="navbar navbar-expand-lg" style="background-color: #2358e9;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('inicio') }}">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('productos') }}">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('nosotros') }}">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contactos') }}">
                            Contactos
                        </a>

                    </li>

                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="navbar-item">
                        <a class="btn btn-light me-2" href="{{ url_for('login') }}">
                            Iniciar sesión
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-dark" href="{{ url_for('registro') }}">
                            Registrarse
                        </a>

                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>

    <div class="container mt-5">
    
        <h2 class="text-center mb-4" >
            Nuestros Productos
        </h2>
    
        <div class="container mt-5" style="border: 5px solid black; padding: 20px; display: inline-block;">
    
            <h2 class="text-center mb-4">
                Productos Destacados
            </h2>
    
            <div class="row">
    
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='imagenes/modelo1.jpg') }}" class="card-img-top">
    
                        <div class="card-body">
                        <h5>Pack escolares</h5>
                        <p>Mochila, lonchera y cartuchera</p>
                        <ul>calidad.</ul> 
                        <ul>Diseño moderno.</ul>
                        <ul>Con materiales de alta durabilidad.</ul>
                        <ul>Precio: S/120.00</ul>
                        <button class="btn btn-primary">Comprar</button>
                    </div>
    
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='imagenes/modelo2.jpg') }}" class="card-img-top">
    
                      <div class="card-body">
                        <h5>Mochila elegante</h5>
                        <ul>Diseños universitario.</ul>
                        <ul>Material resistente.</ul>
                        <ul>Tamaño grande.</ul>
                        <ul>Porta laptop.</ul>
                        <ul>Precio: S/100.00</ul>
                        <button class="btn btn-primary">Comprar</button>
                    </div>
    
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='imagenes/modelo3.jpg') }}" class="card-img-top">
    
                        <div class="card-body">
                        <h5>Mochila deportiva</h5>
                        <ul>Comodidad garantizada.</ul>
                        <ul>Material resistente.</ul>
                        <ul>Tamaño adecuado.</ul>
                        <ul>Compartimento para agua incluido.</ul>
                        <ul>Precio: S/99.00</ul>
                        <button class="btn btn-primary">Comprar</button>
                        </div>
    
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='imagenes/Mochila_modelo1.webp') }}" class="card-img-top">
    
                        <div class="card-body">
                        <h5>Mochila deportiva</h5>
                        <ul>Comodidad garantizada.</ul>
                        <ul>Material resistente.</ul>
                        <ul>Tamaño adecuado.</ul>
                        <ul>Compartimento para agua incluido.</ul>
                        <ul>Precio: S/60.00</ul>
                        <button class="btn btn-primary">Comprar</button>
                        </div>
    
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='imagenes/Mochila_modelo2.webp') }}" class="card-img-top">
    
                        <div class="card-body">
                        <h5>Mochila deportiva</h5>
                        <ul>Comodidad garantizada.</ul>
                        <ul>Material resistente.</ul>
                        <ul>Tamaño adecuado.</ul>
                        <ul>Compartimento para agua incluido.</ul>
                        <ul>Precio: S/90.00</ul>
                        <button class="btn btn-primary">Comprar</button>
                        </div>
    
                    </div>
                    
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='imagenes/Mochila_campera.webp') }}" class="card-img-top">
    
                        <div class="card-body">
                        <h5>Mochila campera</h5>
                        <ul>Comodidad garantizada.</ul>
                        <ul>Material resistente.</ul>
                        <ul>Tamaño adecuado.</ul>
                        <ul>Precio: S/90.00</ul>
                        <button class="btn btn-primary">Comprar</button>
                        </div>
    
                    </div>
    
            </div>
            <div class="col-md-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='imagenes/Mochilas_escolares.webp') }}" class="card-img-top">
    
                        <div class="card-body">
                        <h5>Mochilas escolares</h5>
                        <ul>Comodidad garantizada.</ul>
                        <ul>Material resistente.</ul>
                        <ul>Tamaño adecuado.</ul>
                        <ul>Compartimento para agua incluido.</ul>
                        <ul>Precio: S/70.00</ul>
                        <button class="btn btn-primary">Comprar</button>
                        </div>
    
                    </div>
                </div>
    
        </div>
    </div>
    </div>
        <footer>
            <p>
                © 2026 Confecciones GADIEL - Todos los derechos reservados
            </p>
        </footer>

</body>

</html>